.add-task-container {
    display: inline-flex;
    height: auto;
    padding: 168px 38px 4px 279px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.add-task-container::-webkit-scrollbar,
.loaded-categories::-webkit-scrollbar,
.loaded-contacts::-webkit-scrollbar {
    width: 6px;
}

.add-task-container::-webkit-scrollbar-track,
.loaded-categories::-webkit-scrollbar-track,
.loaded-contacts::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #f1f1f1;
}

.add-task-container::-webkit-scrollbar-thumb,
.loaded-categories::-webkit-scrollbar-thumb,
.loaded-contacts::-webkit-scrollbar-thumb {
    background: #4589FF;
}

.add-task-container::-webkit-scrollbar-thumb:hover,
.loaded-categories::-webkit-scrollbar-thumb:hover,
.loaded-contacts::-webkit-scrollbar-thumb:hover {
    background: #005DFF;
}

.add-task-container-first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}

.add-task-container-titel {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: inline-flex;
}

.add-task-titel-textcontainer {
    align-self: stretch;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    background: white;
    border-bottom: 1px solid #D1D1D1;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    cursor: pointer;
}

.add-task-titel-textcontainer:hover, .due-date-input-container:hover,
.assigned-to-choicefield:hover, .category-dropdown:hover,
.add-subtask-input:hover {
    border-bottom: 1px solid var(--bg-color, #4589FF);
}

.add-task-titel-textfield {
    color: black;
    font-family: 'Open sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.40px;
    word-wrap: break-word;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.add-task-titel-textfield::placeholder {
    color: var(--style, #D1D1D1);
}

.add-task-field-required {
    align-self: stretch;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.60px;
    word-wrap: break-word;
    color: var(--error, #FF8190);
    display: none;
}

.add-task-container-description {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.add-task-description-header {
    display: inline-flex;
    color: #42526E;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.add-task-description-textfield {
    width: 93%;
    height: 90px;
    color: black;
    font-family: 'Open sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.80px;
    word-wrap: break-word;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px #D1D1D1 solid;
    resize: vertical;
    cursor: pointer;
    padding: 18px 16px
}

.add-task-description-textfield:hover {
    border: 1px #4589FF solid;
}

.add-task-description-textfield::placeholder {
    color: var(--style, #D1D1D1);
}

.due-date-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.due-date-header {
    color: #42526E;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.due-date-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--style, #D1D1D1);
    outline: none;
}

.due-date-textfield {
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 100%;
    border: none;
    outline: none;
    font-family: Open Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: var(--style, #D1D1D1);
}

.due-date-calendar-icon {
    width: 24px;
    height: 24px;
}

.add-task-container-priority {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.add-task-priority-header {
    color: #42526E;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.priority-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.priority-choice-inner {
    display: flex;
    width: 136px;
    padding: 18px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    border: none;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.prio-urgent:hover {
    border-bottom: 2px solid #FF3D00;
}

.prio-medium:hover {
    border-bottom: 2px solid #FFA800;
}

.prio-low:hover {
    border-bottom: 2px solid #7AE229;
}

.priority-choice-inner-pic img {
    width: 20px;
    height: 14.51px;
    flex-shrink: 0;
}

.priority-choice-inner.highlighted {
    border-bottom: none;
}

.task-added {
    display: none;
    position: absolute;
    right: 40%;
    bottom: 50%;
    width: 326px;
    height: 74px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: var(--version-2-main-color, #4589FF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #FFF);
    font-family: Open Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    animation: slide 1s ease-in-out;
}

@keyframes slide {
    0% {
        transform: translateY(700px);
    }

    100% {
        transform: translateY(0);
    }
}

.assigned-to-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.assigned-to-header {
    color: #42526E;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.assigned-to-choicefield {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--style, #D1D1D1);
    background: var(--white, #FFF);
}

.assigned-to-dropdown {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
}

.assigned-dropdown-arrow {
    width: 24px;
    height: 24px;
    background-image: url('../img/arrow_dropdown_down.png');
    background-size: cover;
    transition: background-image 0.1s ease-in-out;
}

.assigned-dropdown-arrow:hover {
    background-image: url('../img/arrow_dropdown_down_hover.png');
}

.assigned-to-dropdown.expanded .assigned-dropdown-arrow {
    background-image: url('../img/arrow_dropdown_up.png');
}

.assigned-to-dropdown.expanded .assigned-dropdown-arrow:hover {
    background-image: url('../img/arrow_dropdown_up_hover.png');
}

.assigned-dropdown-header {
    width: 100%;
}

.assigned-select-text {
    width: 100%;
    font-family: 'Open sans', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border: none;
    color: black;
    cursor: pointer;
}

.assigned-select-text::placeholder {
    color: black;
}

.assigned-select-text:focus {
    outline: none;
    border: none;
}