.d-none {
    display: none;
}

.task-slide {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 15;
}

.edit-task-slide {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.slide-in-board {
    bottom: 0 !important;
    animation: slide-in 1s ease-in-out;
}

.open-task {
    bottom: 0 !important;
}

.edit-slide-in {
    bottom: 0 !important;
    transition: 1.0s;
}

.slide-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: -4000px;
    transition: 2.0s;
}

@media(max-width: 480px) {
    .slide-container {
        top: -100px;
        height: unset;
    }
}

.edit-slide-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: -4000px;
    transition: 1.0s;
}

@media(max-width: 480px) {
    .edit-slide-conteiner {
        top: -100px;
    }
}

.task-slide-container {
    box-sizing: border-box;
    display: flex;
    width: 528px;
    padding: 48px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 768px) {
    .task-slide-container {
        width: unset;
    }
}

@media(max-width: 480px) {
    .task-slide-container {
        transform: scale(0.7);
        position: unset;
    }
}

.edit-task-slide-container {
    box-sizing: border-box;
    display: flex;
    padding: 48px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 768px) {
    .edit-task-slide-container {
        width: unset;
    }
}

@media(max-width: 480px) {
    .edit-task-slide-container {
        transform: scale(0.6);
        /* position: unset; */
        top: -150px;
        left: -70px;
    }
}


.task-slide-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.task-slide-headline-left {
    box-sizing: border-box;
    display: flex;
    padding: 4px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #FF7A00;
}

.task-slide-category {
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.task-slide-headline-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.task-slide-headline-right img {
    display: flex;
    padding: 4px;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
}

.task-slide-title {
    align-self: stretch;
    color: #000;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.task-slide-description {
    align-self: stretch;
    color: #000;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.task-slide-due-date-container {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}

.task-slide-due-date {
    color: #42526E;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.task-slide-due-date-date {
    color: #000;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.task-slide-prio-container {
    display: flex;
    align-items: center;
    gap: 25px;
    align-self: stretch;
}

.task-slide-prio-text {
    color: #42526E;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.task-slide-prio-text-img {
    display: flex;
    padding: 4px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.task-slide-assigned-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}

.task-slide-assigned-test {
    align-self: stretch;
    color: #42526E;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.task-slide-assigned-user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    align-self: stretch;
}

.task-slide-assigned-user-contact {
    display: flex;
    flex-direction: column;
    padding: 7px 16px;
    justify-content: space-between;
    align-self: stretch;
}

.task-slide-assigned-user {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
    gap: 16px;
}

.task-slide-btn {
    visibility: hidden;
}

.task-slide-subtasks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}

.task-slide-subtasks-text {
    align-self: stretch;
    color: #42526E;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.task-slide-subtasks-tasks {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: stretch;
}

.task-slide-subtask {
    display: flex;
    height: 32px;
    padding: 6px 16px;
    align-items: center;
    gap: 16px;
}

.task-slide-subtask-btn {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.task-slide-subtask-text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.task-slide-delete-edit-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.task-slide-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.task-slide-delete-edit-img {
    width: 24px;
    height: 24px;
}

.task-slide-delete-text {
    color: #2A3647;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.task-slide-placeholder {
    width: 0px;
    height: 24px;
    border: 1px solid #D1D1D1;
}

.task-slide-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.task-slide-edit-text {
    color: #2A3647;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


/****************** CSS ADD-TASK-FORM ******************/

#taskFormSlider {
    display: none;
    position: fixed;
    z-index: 55;
    height: 100vh;
}

/* .background-overlay {
    display: none;
    position: fixed;
    z-index: 54;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
} */

.float-add-task-container {
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: #FFF;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    /* overflow: hidden; */
    position: relative;
}

.header {
    display: flex;
    padding: 42px 40px;
    align-items: center;
    gap: 49px;
    flex-shrink: 0;
    border-radius: 30px 30px 0px 0px;
    background: white;
    width: 100%;
}

.title-add-task {
    color: #000;
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.close-add-task {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    padding: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}

.close-add-task:hover {
    content: url('../img/close_subtask_hover.png');
}

.add-task-content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: 750px;
    overflow-y: scroll;
    padding-left: 36px;
    padding-right: 42px;
}

.add-task-bottom-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px 40px 24px 40px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
    background: white;
}

.edditModal-slide-in {
    animation: float-in 1s ease-in-out forwards;
}

.edditModal-slide-out {
    animation: float-out 1s ease-in-out forwards;
}

@keyframes float-in {
    from {
        right: -600px;
    }

    to {
        right: 0;
    }
}

@keyframes float-out {
    from {
        right: 0;
    }

    to {
        right: -600px;
    }
}

/* Media Query für Bildschirmbreite von maximal 768px */
@media(max-width: 768px) {
/* 
    .add-task-content {
        height: 65%;
    } */
}

/* Media Query für Bildschirmbreite von maximal 768px */
@media(max-width: 1024px) {
    
    .add-task-content {
        height: 550px;
    }
}