body {
    overflow-x: hidden;
}

.highlight {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.visibility{
    display: none !important;
}

.noscroll::-webkit-scrollbar{
    display: none;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background: #888;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.add-task-content::-webkit-scrollbar {
    width: 10px;
}

.add-task-content::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #f1f1f1;
}

.add-task-content::-webkit-scrollbar-thumb {
    background: #888;
}

.add-task-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.search-add-task-container {
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 4;
    width: 485px;
    height: 51px;
    top: 168px;
    left: 302px;
    gap: 35px;
}

@media(max-width: 650px) {
    .search-add-task {
        display: flex;
        justify-content: center;
    }

    .search-add-task-container {
        position: static;
        padding: 94px 0 0 10px;
        justify-content: center;
    }
}

.input-conteiner {
    width: 280px;
    height: 32px;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    background: #FFF;
    display: flex;
}

.input-conteiner:focus-within {
    border-color: #005DFF;
}

@media(max-width: 650px) {
    .input-conteiner {
        width: auto;
    }
}

.input-field {
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1  0;
}

.input-field::placeholder {
    color: var(--style, #D1D1D1);
    font-size: 16px;
}

.search-right {
    display: flex;
    gap: 16px;
}

#reset-search {
    display: none;
}

.reset-btn {
    border: none;
    font-size: 24px;
    color: lightgray;
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.plus-icon {
    width: 15px;
    height: 15px;
}

.add-btn {
    box-sizing: border-box;
    width: 138px;
    height: 51px;
    color: white;
    border: 1px solid #4589FF;
    background: #4589FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    cursor: pointer;
}

.add-btn:hover {
    background: #005DFF;
}

.add-btn:active {
    border: 1px solid #4589FF;
    background: #091931;
}

@media(max-width: 650px) {
    .add-btn {
        display: none;
    }
}

.board-container {
    box-sizing: border-box;
    display: flex;
    padding: 236px 10px 11px 10px;
    align-items: flex-start;
    position: absolute;
    top: 47px;
    left: 299px;
    gap: 46px;
}

.task-container {
    box-sizing: border-box;
    display: flex;
    min-height: 150px;
    width: 250px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.drag-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

@media(max-width: 1440px) {
    .board-container {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        padding: 236px 10px 50px 10px;
    }
    .scroll-container {
        display: flex;
        height: 350px;
        width: 850px;
        flex: 1;
        overflow-x: scroll;
        cursor: grab;
    }
    .grabbing{
        cursor: grabbing;
    }
    .scroll-container::-webkit-scrollbar {
        display: none;
    }
    .task-container{
        width: unset;
        align-items: unset;
    }
    .drag-area{
        align-items: center;
        flex-direction: row;
        height: unset;
    }
}

@media(max-width: 1020px){
    .board-container {
        position: static;
        justify-content: center;
        padding: 236px 18px 100px 18px;
    }
    .scroll-container {
        width: 570px;
    }
    .search-add-task-container{
        padding-left: 18px;
        left: unset;
    }
}

@media(max-width: 650px) {
    .board-container {
        position: static;
        justify-content: center;
        padding: 66px 10px 150px 10px;
    }
    .scroll-container {
        width: 570px;
    }
}

@media(max-width: 650px) {
    .scroll-container {
        width: 320px;
    }
}

.board-headline {
    box-sizing: border-box;
    display: flex;
    width: 230px;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    font-size: 21px;
    font-weight: 700;
}

.board-add-btn {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #4589FF;
    background-color: white;
    cursor: pointer;
    transition: all 225ms ease-in-out
}

.board-add-btn:hover {
    transition: all 225ms ease-in-out;
    transform: rotate(90deg) !important;
}

.content-container {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    width: 250px;
    padding: 18px 19px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.content-container-inner {
    width: 217px;
    height: 205px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

@media(max-width: 1440px) {
    .content-container {
        margin: 25px 8px;
    }
}


.board-category {
    box-sizing: border-box;
    height: 27px;
    display: flex;
    padding: 4px 25px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    color: white;
    
}

.title-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 10px;
    
}

.title {
    color: #4589FF;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}

.prio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    max-width: 220px;
    height: 32px;
}

.user-container-board {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    height: 32px;
}

.user-marked {
    box-sizing: border-box;
    display: flex;
    width: 35px;
    height: 35px;
    padding: 10px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 58px;
    border: 1px solid #FFF;
    color: white;

}