body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.noscroll{
    overflow: hidden;
}

.search-add-task-container {
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 4;
    width: 485px;
    height: 51px;
    top: 168px;
    left: 302px;
    gap: 35px;
}

@media(max-width: 650px) {
    .search-add-task {
        display: flex;
        justify-content: center;
    }

    .search-add-task-container {
        position: static;
        padding: 94px 0 0 10px;
        justify-content: center;
    }
}

.input-conteiner {
    width: 280px;
    height: 32px;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    background: #FFF;
    display: flex;
}

@media(max-width: 650px) {
    .input-conteiner {
        width: auto;
    }
}

.input-field {
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.search-right {
    display: flex;
    gap: 16px;
}

.icon {
    cursor: pointer;
}

.plus-icon {
    width: 15px;
    height: 15px;
}

.add-btn {
    box-sizing: border-box;
    width: 138px;
    height: 51px;
    color: white;
    border: 1px solid #4589FF;
    background: #4589FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    cursor: pointer;
}

.add-btn:hover {
    background: #005DFF;
}

.add-btn:active {
    border: 1px solid #4589FF;
    background: #091931;
}

@media(max-width: 850px) {
    .add-btn {
        display: none;
    }
}

.board-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 236px 10px 11px 10px;
    align-items: flex-start;
    position: absolute;
    top: 47px;
    left: 299px;
    gap: 46px;
}

@media(max-width: 650px) {
    .board-container {
        position: static;
        justify-content: center;
        padding: 66px 10px 11px 10px;
    }
}

.task-container {
    box-sizing: border-box;
    display: flex;
    min-height: 150px;
    width: 250px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.drag-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.board-headline {
    box-sizing: border-box;
    display: flex;
    width: 230px;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.board-add-btn {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #4589FF;
    background-color: white;
    cursor: pointer;
    transition: all 225ms ease-in-out
}

.board-add-btn:hover {
    transition: all 225ms ease-in-out;
    transform: rotate(90deg) !important;
}

.content-container {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    width: 250px;
    padding: 18px 19px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.content-container-inner {
    width: 217px;
    height: 205px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.board-category {
    box-sizing: border-box;
    height: 27px;
    display: flex;
    padding: 4px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    color: white;
    
}

.title-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 10px;
    
}

.title {
    color: #4589FF;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}

.prio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    max-width: 220px;
    height: 32px;
}

.user-container-board {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    height: 32px;
}

.user-marked {
    box-sizing: border-box;
    display: flex;
    width: 35px;
    height: 35px;
    padding: 10px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 58px;
    border: 1px solid #FFF;
    color: white;

}

.negativ-gap {
    position: relative;
    left: -7px;
}

.negativ-gap--7 {
    position: relative;
    left: -7px;
}

.negativ-gap--14 {
    position: relative;
    left: -14px;
}

.negativ-gap--21 {
    position: relative;
    left: -21px;
}

.negativ-gap--28 {
    position: relative;
    left: -28px;
}

.prio-icon {
    box-sizing: border-box;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.blue {
    background: #0190E0;
}

.media {
    background: #FFBB2B;
}

.board-subtasks-container {
    box-sizing: border-box;
    display: flex;
    padding-right: 0px;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
    width: 218px;
    height: 16px;
}

.progress-bar-container {
    box-sizing: border-box;
    display: flex;
    width: 128px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #F4F4F4;
}

.progress-bar {
    box-sizing: border-box;
    width: 0;
    height: 8px;
    align-self: stretch;
    border-radius: 16px;
    background: #4589FF;

}

.subtasks {
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.no-tasks-to-do {
    box-sizing: border-box;
    display: flex;
    width: 250px;
    height: 41px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px dashed #A8A8A8;
    background: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.no-tasks-to-do-text {
    color: #A8A8A8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.task-container .content-container:last-of-type {
    margin-bottom: 70px;
}