.scroll-slide-container::-webkit-scrollbar,
.scroll-slide-edit-container::-webkit-scrollbar,
.add-task-content::-webkit-scrollbar {
    width: 6px;
}

.scroll-slide-container::-webkit-scrollbar-track,
.scroll-slide-edit-container::-webkit-scrollbar-track,
.add-task-content::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #f1f1f1;
}

.scroll-slide-container::-webkit-scrollbar-thumb,
.scroll-slide-edit-container::-webkit-scrollbar-thumb,
.add-task-content::-webkit-scrollbar-thumb {
    background: #4589FF;
}

.scroll-slide-container::-webkit-scrollbar-thumb:hover,
.scroll-slide-edit-container::-webkit-scrollbar-thumb:hover,
.add-task-content::-webkit-scrollbar-thumb:hover {
    background: #005DFF;
}

.task-slide-edit-text {
    color: #2A3647;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.task-slide-edit:hover .task-slide-delete-edit-img {
    content: url('../img/edit_hover.png');
}

.task-slide-edit:hover .task-slide-edit-text {
    color: #005DFF;
    font-weight: 700;
}

#taskFormSlider {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 55;
    height: 100vh;
}

.task-background-overlay {
    display: none;
    position: fixed;
    z-index: 54;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
}

.float-add-task-container {
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: #FFF;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    position: relative;
}

.header {
    display: flex;
    padding: 42px 40px;
    align-items: center;
    gap: 49px;
    flex-shrink: 0;
    border-radius: 30px 30px 0px 0px;
    background: white;
    width: 100%;
}

.title-add-task {
    color: #000;
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

#addTaskDescription {
    width: 93%;
    min-height: 90px;
    color: black;
    font-family: 'Open sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.80px;
    word-wrap: break-word;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #D1D1D1;
    resize: vertical;
    cursor: pointer;
    padding: 18px 16px
}

#addTaskDescription:hover {
    border: 1px solid #4589FF;
}

#addTaskDescription::placeholder {
    color: var(--style, #D1D1D1);
}

.close-add-task {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    padding: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}

.close-add-task:hover {
    content: url('../img/close_subtask_hover.png');
}

.add-task-content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: 750px;
    overflow-y: scroll;
    padding-left: 36px;
    padding-right: 42px;
}

.add-task-bottom-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px 40px 24px 40px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
    background: white;
}

.edditModal-slide-in {
    animation: float-in 0.3s ease-in-out forwards;
}

.edditModal-slide-out {
    animation: float-out 0.3s ease-in-out forwards;
}

@keyframes float-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes float-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

/***** Media Query für Bildschirmbreite von maximal 1024px ******/
@media(max-width: 1600px) {
    .add-task-content {
        height: 70%;
    }
}

/***** Media Query für Bildschirmhöhe von 600px oder mehr ******/
@media screen and (min-height: 791px) and (max-height: 999px) {
    .add-task-content {
        height: 70%;
    }
}

/***** Media Query für Bildschirmhöhe von 600px oder mehr ******/
@media screen and (min-height: 1000px) {
    .add-task-content {
        height: 75%;
        gap: 85px;
    }

    .add-task-container-first {
        gap: 85px !important;
    }
}

@media (max-width: 480px) {
    .task-slide-title {
        font-size: 31px;
    }
}