.contact-detailed-images {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
    color: #2A3647;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
}

.contact-detailed-images:hover {
    color: #005DFF;
    font-weight: 700;
}

.contact-detailed-images:hover .edit-img {
    content: url('../img/edit_hover.png');
}

.contact-detailed-images:hover .delete-img {
    content: url('../img/delete_hover.png');
}

.contact-detailed-top {
    display: flex;
    align-items: center;
    gap: 54px;
}

.contact-detailed-name {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.contact-detailed-edit-delete {
    margin-top: 8px;
}

.initial-big, .edit-initial-big {
    box-sizing: border-box;
    display: flex;
    width: 120px;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid #FFF;
    color: white;
    color: #FFF;
    text-align: center;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.contact-detailed-mid {
    display: flex;
    flex-direction: column;
}

.contact-detailed-information {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.phone {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.add-contact-buttons {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.add-contact-buttons-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.button-clear {
    display: flex;
    width: 136px;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #647188;
    background: var(--white, #FFF);
    cursor: pointer;
    color: #647188;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.button-clear:hover {
    transition: ease-in-out 100ms;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--bg-color, #4589FF);
    border: 1px solid var(--bg-color, #4589FF);
}

.button-clear:hover .button-clear-pic {
    content: url('../img/cancel_icon_hover.png');
}

.button-clear:active {
    color: var(--btn-hover, #005DFF);
    border: 1px solid var(--btn-hover, #005DFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-clear:active .button-clear-pic {
    content: url('../img/cancel_icon_active.png');
}

.button-clear-pic {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.button-create-task {
    display: flex;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: var(--version-2-main-color, #4589FF);
    cursor: pointer;
    border: none;
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.button-create-task:hover {
    background: #005DFF;
}

.button-create-task:active {
    background-color: #FFFFFF;
    color: var(--bg-color, #4589FF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-create-task:active .button-create-task-pic {
    content: url('../img/check_active.png');
}

.button-create-task-pic {
    width: 24px;
    height: 24px;
}

.modal-logo img {
    width: 55px;
    height: 66px;
}

.modal-headline {
    color: var(--white, #FFF);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.modal-text {
    color: var(--white, #FFF);
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.modal-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.modal-input-img {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #D1D1D1;
    border-radius: 70%;
    padding: 5px;
    border-radius: 70px;
    border: 3px solid var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.modal-input-img img {
    position: absolute;
    left: 32px;
    top: 32px;
    width: 64px;
    height: 64px;
}

.modal-input-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.modal-input-frame {
    display: flex;
    width: 422px;
    padding: 12px 21px;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--style, #D1D1D1);
    background: #FFF;
    justify-content: space-between;
    cursor: pointer;
}

.modal-input-frame:focus-within {
    border-bottom: 1px solid var(--bg-color, #4589FF);
}

.modal-name-input-inner {
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.modal-input-field {
    color: black;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
}

.modal-input-field::placeholder {
    color: #D1D1D1;
}

.modal-input-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.contact-detailed-images-mobile:hover {
    color: var(--bg-color, #4589FF);
}

.contact-added {
    position: fixed;
    left: 50%;
    width: 360px;
    bottom: -1000px;
    height: 74px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 8px;
    border-radius: 20px;
    background: var(--version-2-main-color, #4589FF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #FFF);
    font-family: Open Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    transition: bottom 0.5s;
    display: none;
    transform: translateX(-50%);
    z-index: 60;
}

.show {
    bottom: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error-message {
    color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.edit-modal-text {
    display: none;
}