@media(max-width: 1200px) {
    .container {
        width: 75%;
        padding: 32px 52px;
    }

    #contact-details {
        display: none !important;
    }

    .container-contact-all {
        width: 100%;
    }

    .letter-title-underline {
        width: 90%;
    }

    #contact-details-mobile {
        display: none;
        position: absolute;
        top: 0;
        margin-top: 95px;
        margin-left: 236px;
        padding: 40px;
    }

    .contact-detailed-images-head {
        position: fixed;
        bottom: 100px;
        right: 100px;
        border-radius: 10px;
        background: var(--Ligth-blue, #4589FF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: inline-flex;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    .contact-detailed-images-head:hover {
        background: var(--Ligth-blue, #005DFF);
    }

    #contact-mobile-buttons {
        cursor: pointer;
        position: fixed;
        bottom: 100px;
        right: 100px;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 20px 20px 0px 20px;
        background: var(--white, #FFF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 10;
        display: none;
        animation-name: slideFromRight;
        animation-duration: 0.1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes slideFromRight {
        from {
            right: -150px;
        }

        to {
            right: 20px;
        }
    }

    @keyframes slideOutRight {
        from {
            right: 20px;
        }

        to {
            right: -150px;
        }
    }

    .contact-detailed-images-mobile {
        display: flex;
        width: 96px;
        padding: 8px;
        z-index: 1000;
        align-items: center;
        gap: 8px;
        color: #2A3647;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .contact-detailed-images-mobile img {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    .contact-detailed-mobile-return {
        cursor: pointer;
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        position: fixed;
        top: 130px;
        right: 20px;
        background-image: url("../img/arrow-left-line.png");
        background-size: cover;
        transition: background-image 0.1s ease-in-out;
    }

    .contact-detailed-mobile-return:hover {
        background-image: url("../img/arrow-hover.png");
    }

    .container {
        height: calc(100% - 195px);
    }

    #contact-mobile-buttons {
        right: 30px;
        bottom: 90px;
    }

    .contact-detailed-images-head {
        right: 30px;
        bottom: 90px;
    }

    .addContactBtnText {
        display: none;
    }

    .add-person-button {
        position: absolute;
        right: 85px;
        bottom: 30px;
        padding: 16px;
        width: auto;
    }
}


@media(max-width: 1024px) {
    #contact-details-mobile {
        margin-left: 0;
    }

    .container {
        padding: 20px;
        width: 100vw;
        margin-left: 10px;
    }
}


@media(max-width: 768px) {
    .modal-content, .edit-content {
        width: 75%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 0px;
        bottom: unset;
    }

    .modal-content, .edit-content {
        border-radius: 30px 30px 30px 30px;
    }

    .contact-detailed-name {
        font-size: 42px;
    }

    .contact-detailed-top {
        gap: 30px;
    }

    .modal-content-top, .edit-content-top {
        border-radius: 30px 30px 0px 0px;
    }

    .modal-logo img {
        display: none;
    }

    .modal-headline {
        font-size: 47px;
    }

    .modal-text {
        font-size: 21px;
    }

    .modal-input-row {
        margin-top: -50px;
    }

    .edit-modal-text {
        display: flex;
    }

    #cancelBtn {
        display: none;
    }

    .modal-input-img, .modal-input-initial {
        top: -50px
    }

    .button-create-task {
        padding: 17.11px 10px;
        gap: 4px;
    }

    .contact-added {
        width: 300px;
        font-size: 20px;
        gap: 0;
        padding: 0;
    }

    .success-icon {
        display: none;
    }
}


@media(max-width: 500px) {
    .modal-headline {
        font-size: 40px;
    }

    .modal-text {
        font-size: 16px;
    }
}


@media(max-width: 450px) {
    .container {
        padding: 10px;
    }

    .add-person-button {
        bottom: 10px;
        right: 60px;
    }

    .contact {
        width: 250px;
    }

    .name {
        font-size: 16px;
    }

    .email {
        font-size: 14px;
    }

    .initial {
        font-size: 12px;
        width: 36px;
        height: 36px;
    }

    .modal-headline {
        font-size: 30px;
    }

    .modal-text {
        font-size: 13px;
    }

    .contact-detailed-name {
        font-size: 24px;
    }

    .contact-detailed-information {
        font-size: 18px;
    }

    .button-clear {
        width: auto;
    }

    .close {
        top: 14px;
    }
}


@media(min-width: 770px) and (min-height: 1010px) {
    .modal-content, .edit-content {
        width: 75%;
        position: fixed;
        top: 5%;
        gap: 0px;
        bottom: unset;
    }

    .modal-input-container {
        gap: 60px;
    }

    .modal-input-img, .modal-input-initial {
        top: 40px;
    }

    .modal-input-row {
        gap: 60px;
    }
}


@media(max-height: 820px) {
    .modal-content-top, .edit-content-top {
        padding: 67px 26px;
    }

    .modal-input-img, .modal-input-initial {
        width: 64px;
        height: 64px;
        top: -30px;
    }

    .modal-input-img img {
        left: 21px;
        top: 20px;
        width: 32px;
        height: 32px;
    }

    .edit-initial-big {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }

    .modal-input-row {
        gap: 15px;
    }

    .modal-headline {
        font-size: 30px;
    }

    .modal-text {
        font-size: 13px;
    }

    .button-create-task {
        padding: 16px 10px;
        gap: 4px;
        font-size: 18px;
    }

    .button-clear-text {
        font-size: 18px;
        padding: 0px 0px;
    }

    .button-clear {
        width: auto;
    }
}