.edit-add-task-container {
    display: inline-flex;
    height: 650px;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    gap: 24px;
    flex-shrink: 0;
}

.edit-add-task-container-first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.edit-add-task-container-titel {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: inline-flex;
}

.edit-add-task-titel-textcontainer{
    align-self: stretch;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    background: white;
    border-bottom: 1px #D1D1D1 solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    cursor: pointer;
}

.edit-add-task-titel-textfield{
    color: black;
    font-family: 'Open sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.40px;
    word-wrap: break-word;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.edit-add-task-titel-textfield::placeholder{
    color: var(--style, #D1D1D1);
}

.edit-add-task-field-required{
    align-self: stretch;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    line-height: 15.60px;
    word-wrap: break-word;
    color: var(--error, #FF8190);
    display: none;
}

.edit-add-task-container-description{
    display: flex;
    width: 440px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.edit-add-task-description-header{
    display: inline-flex;
    color: #42526E;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.edit-add-task-description-textfield{
    width: 100%;
    max-width: 400px;
    min-height: 90px;
    color: black;
    font-family: 'Open sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.80px;
    word-wrap: break-word;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px #D1D1D1 solid;
    resize: vertical;
    cursor: pointer;
    padding: 18px 16px
}

.edit-add-task-description-textfield:hover {
    border: 1px solid var(--bg-color);
}

.edit-add-task-description-textfield::placeholder {
    color: var(--style, #D1D1D1);
}

.edit-due-date-container {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.edit-due-date-header {
    color: #42526E;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.edit-due-date-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--style, #D1D1D1);
    outline: none;
}

.edit-due-date-textfield {
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 100%;
    border: none;
    outline: none;
    font-family: Open Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: var(--style, #D1D1D1);
}

.edit-due-date-input-container:hover {
    border-bottom: 1px solid var(--bg-color);
}

.edit-due-date-calendar-icon {
    width: 24px;
    height: 24px;
}

.edit-add-task-container-priority {
    display: flex;
    flex-direction: column;
    width: 440px;
    gap: 8px;
}

.edit-add-task-priority-header {
    color: #42526E;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.edit-priority-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.edit-priority-choice-inner {
    display: flex;
    width: 136px;
    padding: 18px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    border: none;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.edit-prio-urgent:hover {
    border-bottom: 2px solid #FF3D00;
}

.edit-prio-medium:hover {
    border-bottom: 2px solid #FFA800;
}

.edit-prio-low:hover {
    border-bottom: 2px solid #7AE229;
}

.edit-priority-choice-inner-pic img {
    width: 20px;
    height: 14.51px;
    flex-shrink: 0;
}

.edit-priority-choice-inner.highlighted {
    border-bottom: none;
}

.edit-assigned-to-container {
    display: flex;
    width: 440px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.edit-assigned-to-header {
    color: #42526E;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.edit-assigned-to-choicefield {
    display: flex;
    width: 440px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--style, #D1D1D1);
    background: var(--white, #FFF);
}

.edit-assigned-to-choicefield:hover {
    border-bottom: 1px solid var(--bg-color);
}

.edit-assigned-to-dropdown {
    display: flex;
    width: 440px;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
}

.edit-assigned-dropdown-arrow {
    width: 24px;
    height: 24px;
    background-image: url('../img/arrow_dropdown_down.png');
    background-size: cover;
    transition: background-image 0.1s ease-in-out;
}

.edit-assigned-dropdown-arrow:hover {
    background-image: url('../img/arrow_dropdown_down_hover.png');
}

.edit-assigned-to-dropdown.expanded .assigned-dropdown-arrow {
    background-image: url('../img/arrow_dropdown_up.png');
}

.edit-assigned-to-dropdown.expanded .assigned-dropdown-arrow:hover {
    background-image: url('../img/arrow_dropdown_up_hover.png');
}

.edit-assigned-dropdown-header {
    width: 100%;
}

.edit-assigned-select-text {
    width: 100%;
    font-family: 'Open sans', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border: none;
    color: black;
    cursor: pointer;
}

.edit-assigned-select-text::placeholder {
    color: black;
}

.edit-assigned-select-text:focus {
    outline: none;
    border: none;
}

.edit-contact-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 16px;
    border-radius: 10px;
    margin-bottom: 2px;
}

.edit-contact-container:hover {
    background: #D2E3FF;
    border-radius: 10px;
}

.edit-select-contact {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
}

.edit-select-icon {
    width: 24px;
    height: 24px;
}

.edit-contact-container.selected {
    background-color: #4589FF;
    border-radius: 10px;
    color: white;
}

.edit-contact-container.selected .select-icon {
    content: url('../img/check_contact.png');
}

.edit-contact-container.selected:hover {
    background: #005DFF;
}

.edit-initial {
    box-sizing: border-box;
    display: flex;
    width: 42px;
    height: 42px;
    padding: 10px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 45px;
    border: 1px solid #FFF;
    color: white;
}

.edit-category-container {
    display: flex;
    width: 440px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.edit-category-header {
    color: #42526E;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.edit-category-choicefield {
    display: flex;
    width: 440px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--style, #D1D1D1);
    background: var(--white, #FFF);
}