*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --bg-color: #4589FF;
    --ligth-blue: #005DFF;
    --btn-hover: #005DFF;
    --style: #D1D1D1;
    --menu: #42526E;
    --guest-log-in: #647188;
    --error: #FF8190;
}

body {
    margin: 0;
    font-family: 'Open sans', sans-serif;
    animation-name: animateBgColor;
    animation-duration: 800ms;
    animation-timing-function: ease-out;
}

#forgot-content, #reset-content {
    display: none;
}

form {
    animation-name: animateBgOpacity;
    animation-duration: 800ms;
    animation-timing-function: ease-out;
    width: 100%;
}

.logo-small {
    animation-name: animateLogoSmall;
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
    height: 120px;
    z-index: 999;
}

.logo-large {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    width: 265px;
    height: 323px;
    animation-fill-mode: forwards;
}

/******************* INTRO ANIMATION *******************/
@keyframes animateBgColor {
    0% {
        background-color: var(--bg-color, #4589FF);
    }

    50% {
        background-color: var(--bg-color, #4589FF);
    }

    100% {
        background-color: #FFFFFF;
    }
}

@keyframes animateBgOpacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animateLogoSmall {
    0% {
        transform: translate(50vw, 50vh);
    }

    100% {
        transform: translate(80px, 77px);
    }
}

.log-in-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 652px;
    padding: 48px 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.log-in-main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-in-sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.log-in-header-title {
    text-align: center;
    color: black;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    word-wrap: break-word;
}

.log-in-header-line {
    width: 150px;
    height: 2px;
    background-color: var(--bg-color, #4589FF);
}

.log-in-formular {
    height: 152px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.log-in-formular-container {
    display: flex;
    padding: 12px 21px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.log-in-info-box {
    width: 422px;
    padding: 12px 21px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--style, #D1D1D1);
    background: #FFF;
}

.log-in-input-frame {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.log-in-text-input {
    width: 100%;
    color: var(--style, #D1D1D1);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border: none;
    color: black;
    cursor: pointer;
}

.log-in-text-input::placeholder {
    color: var(--style, #D1D1D1);
}

.log-in-text-input:focus {
    outline: none;
    border: none;
}

.log-in-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.password-match-error {
    align-self: stretch;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.80px;
    word-wrap: break-word;
    color: var(--error, #FF8190);
    display: none;
    margin-top: -40px;
}

.remember-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
}

.remember-me-section {
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.remember-me-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.remember-me-icon:hover {
    background-image: url(/img/check-button-hover.png);
    cursor: pointer;
}

.remember-me-text {
    color: var(--menu, #42526E);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.forgot-password-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.forgot-password-link {
    color: var(--ligth-blue, #005DFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    cursor: pointer;
}

.forgot-password-link:hover {
    text-decoration: underline;
    font-weight: 600;
}

.log-in-btn-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.log-in-btn-container,
.guest-log-in-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.log-in-btn {
    padding: 10px 35px;
    background: var(--bg-color, #4589FF);
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
    border: none;
}

.log-in-btn:hover {
    background: var(--ligth-blue, #005DFF);
    transition: ease-in-out 100ms;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.log-in-btn:active {
    transition: ease-in-out 100ms;
    background: #FFFFFF;
    color: var(--bg-color, #4589FF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.guest-log-in-btn {
    padding: 10px 35px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #647188;
    color: var(--guest-log-in, #647188);
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
    text-decoration: none;
}

.guest-log-in-btn:hover {
    transition: ease-in-out 100ms;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--bg-color, #4589FF);
    border: 1px solid var(--bg-color, #4589FF);
}

.guest-log-in-btn:active {
    color: var(--btn-hover, #005DFF);
    border: 1px solid var(--btn-hover, #005DFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.legal-notice-container {
    display: flex;
    width: 240px;
    height: 35px;
    flex-shrink: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 42.7px;
    justify-content: center;
    animation-name: animateBgOpacity;
    animation-duration: 800ms;
    animation-timing-function: ease-out;
}

.legal-notice-sub-container {
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.legal-notice-text {
    color: var(--menu, #42526E);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
}

.legal-notice-text:hover {
    color: var(--ligth-blue, #005DFF);
}

.sign-up-container {
    display: flex;
    align-items: center;
    gap: 35px;
    position: absolute;
    top: 67px;
    right: 86px;
    animation-name: animateBgOpacity;
    animation-duration: 800ms;
    animation-timing-function: ease-out;
}

.not-a-user {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.sign-up-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sign-up-btn {
    padding: 10px 21px;
    border-radius: 8px;
    background: var(--bg-color, #4589FF);
    color: #FFFFFF;
    border: none;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
    text-decoration: none;
}

.sign-up-btn:hover {
    background: var(--ligth-blue, #005DFF);
    transition: ease-in-out 100ms;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sign-up-btn:active {
    background-color: #FFFFFF;
    color: var(--bg-color, #4589FF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}

.shake-password {
    animation: shake 0.5s ease-in-out;
}


/* Media Query für Bildschirmbreite von maximal 768px */
@media (max-width: 768px) {
    .logo-large {
        width: 100px;
        height: 122px;
    }

    .logo-small {
        width: 64px;
        height: 78px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        left: 2%;
        top: -8%;
    }

    .log-in-container {
        max-width: 396px;
        padding: 32px 0px;
        gap: 3px;
        top: 48%;
    }

    .log-in-header-title {
        font-size: 40px;
    }

    .log-in-header-line {
        width: 88px;
    }

    .log-in-formular-container {
        gap: 14px;
    }

    .log-in-info-box {
        width: 100%;
    }

    .log-in-text-input {
        font-size: 16px;
    }

    .password-match-error {
        padding-left: 20px;
        margin-top: -42px;
    }

    .remember-me-text, .forgot-password-link {
        font-size: 14px;
    }

    .remember-me-container {
        width: 100%;
        align-items: flex-start;
        flex-direction: column-reverse;
        padding: 0 32px;
        gap: 16px;
    }

    .log-in-btn-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 19px;
        padding-top: 10px;
    }

    .log-in-btn-container,
    .guest-log-in-btn-container {
        width: 100%;
    }

    .log-in-btn, .guest-log-in-btn {
        font-size: 19px;
        flex: 1;
    }

    .sign-up-btn:active, .log-in-btn:active {
        background: var(--ligth-blue, #005DFF);
        transition: ease-in-out 100ms;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .sign-up-container {
        top: auto;
        bottom: 55px;
        left: 50%;
        transform: translateX(-50%);
        right: unset;
        width: 272px;
    }

    .legal-notice-container {
        bottom: 18px;
    }

    .not-a-user {
        font-size: 19px;
    }

    .sign-up-btn {
        font-size: 19px;
        padding: 10px 16px;
    }
}


/* Media Query für Bildschirmbreite von maximal 450px */
@media (max-width: 450px) {
    .logo-small {
        width: 44px;
        height: 58px;
        left: -10%;
        top: -10%;
    }

    .log-in-container {
        width: 90%;
    }
}