.reset-password-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 716px;
    padding: 48px 88px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.reset-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.reset-info-title {
    text-align: center;
    color: black;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    word-wrap: break-word;
}

.reset-info-line {
    width: 150px;
    height: 2px;
    background-color: var(--bg-color, #4589FF);
}

.change-password-info {
    text-align: center;
    color: black;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.60px;
    word-wrap: break-word;
}

.password-input-container {
    width: 100%;
    max-width: 422px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.password-input-frame,
.confirm-password-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.password-input-section {
    display: flex;
    width: 100%;
    padding: 12px 21px;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #D1D1D1;
}

.password-input-line {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.password-input {
    width: 100%;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border: none;
    color: black;
    cursor: pointer;
}

.password-input::placeholder {
    color: var(--style, #D1D1D1);
}

.password-input:focus {
    outline: none;
    border: none;
}

.reset-match-error {
    align-self: stretch;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.80px;
    word-wrap: break-word;
    color:var(--error, #FF8190);
    display: none;
}

.continue-btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.continue-btn {
    display: flex;
    padding: 10px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--bg-color, #4589FF);
    color: #FFFFFF;
    border: none;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
}

.continue-btn:hover {
    background: var(--ligth-blue, #005DFF);
    transition: ease-in-out 100ms;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.continue-btn:active {
    background-color: #FFFFFF;
    color: var(--bg-color, #4589FF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@keyframes shakeReset {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}

.shake-reset-password {
    animation: shakeReset 0.5s ease-in-out;
}


/* Media Query für Bildschirmbreite von maximal 768px */
@media (max-width: 768px) {
    .reset-password-container {
        padding: 32px 32px; 
        width: 90%;
        margin-top: 5px;
    }

    .reset-info-title {
        font-size: 40px;
    }
    
    .reset-info-line {
        width: 88px;
    }

    .change-password-info {
        font-size: 19px;
        margin-top: -8px;
    }

    .continue-btn {
        font-size: 19px;
    }
}