.summery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    padding-top: 100px;
    max-width: 912px;
    height: 491px;
}

.greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.active-mobile {
    transition: opacity 4s ease-out;
    opacity: 0;
}

.d-none {
    display: none;
}

.mobile-ani {
    opacity: 1;
}

.greetings-left {
    height: 58px;
    font-size: 48px;
    text-align: left;
}

.greetings-right {
    height: 77px;
    font-weight: bold;
    font-size: 64px;
    color: #4589FF;
}

.task-urgent-todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 912px;
    gap: 32px;
}

.task-urgent {
    display: flex;
    max-width: 912px;
    height: 191px;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.task-urgent-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(69, 137, 255);
    width: 672px;
    height: 191px;
    padding: 28px 48px;
    gap: 35px;
    flex-shrink: 0;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    color: white;
}

.task-urgent-container:hover {
    border-radius: 0px 30px 30px 30px;
    background: var(--white, #FFF);
    color: #4589FF;
}

.task-urgent-left {
    width: 140px;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.task-urgent-left-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.todo-task {
    width: 28px;
    height: 58px;
    font-size: 48px;
    font-weight: bold;
}

.task-urgent-left-down {
    width: 140px;
    height: 28px;
    /* color: white; */
}

.placeholder {
    width: 0;
    height: 145px;
    border-width: 2px;
    border-style: solid;
    border-image: initial;
}

.task-urgent-right {
    display: flex;
    flex-direction: column;
    width: 274px;
    height: 81px;
    gap: 13px;
}

.task-urgent-right h2 {
    margin: 0;
    width: 274px;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
}

.task-urgent-right span {
    width: 211px;
    height: 28px;
}

.task-todo {
    width: 128px;
    height: 111px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #D2E2FF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.task-todo:hover {
    transform: scale(1.1);
    border-radius: 0px 30px 30px 30px;
    background: var(--white, #FFF);
    color: #005DFF;
}

.task-todo-inner {
    width: 128px;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.text {
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.text-w {
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.tasks-board {
    display: flex;
    height: 219px;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.tasks-board-left, .tasks-board-right {
    display: flex;
    gap: 32px;
}

.task-container {
    width: 124px;
    height: 139px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #4589FF;
}

.task-container:hover {
    transform: scale(1.1);
    background: var(--Ligth-blue, #005DFF);
    border-radius: 0px 30px 30px 30px;
    color: #FFF;
    .task-container-inner span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
    }
}

.task-container-inner {
    width: 124px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-container-inner span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.image-76 {
    height: 72px;
    width: 72px;
}

.urgend-border {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.center-greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    gap: 22px;
}

.w-124 {
    width: 124px;
}