body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.summery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    padding-top: 265px;
    max-width: 912px;
    height: 591px;
}

.greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.active-mobile {
    transition: opacity 4s ease-out;
    opacity: 0;
}

.d-none {
    display: none;
}

.mobile-ani {
    opacity: 1;
}

.greetings-left {
    height: 58px;
    font-size: 48px;
    text-align: left;
}

.greetings-right {
    width: 385px;
    height: 77px;
    font-weight: bold;
    font-size: 64px;
    color: #4589FF;
}

.task-urgent-todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 912px;
    gap: 32px;
}

.task-urgent {
    display: flex;
    max-width: 912px;
    height: 191px;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.task-urgent-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(69, 137, 255);
    width: 672px;
    height: 191px;
    padding: 28px 48px;
    gap: 35px;
    flex-shrink: 0;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    color: white;
}

.task-urgent-container:hover {
    transform: scale(1.1);
    /* border-radius: 0px 30px 30px 30px;
    background: var(--white, #FFF);
    color: #4589FF;
    width: 688px;
    height: 207px; */
}

.task-urgent-left {
    width: 140px;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.task-urgent-left-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.todo-task {
    width: 28px;
    height: 58px;
    font-size: 48px;
    font-weight: bold;
}

.task-urgent-left-down {
    width: 140px;
    height: 28px;
    /* color: white; */
}

.placeholder {
    width: 0;
    height: 145px;
    /* background: rgb(255, 255, 255); */
    border-width: 2px;
    border-style: solid;
    /* border-color: rgb(255, 255, 255); */
    border-image: initial;
}

.task-urgent-right {
    display: flex;
    flex-direction: column;
    width: 274px;
    height: 81px;
    /* color: white; */
    gap: 13px;
}

.task-urgent-right h2 {
    margin: 0;
    width: 274px;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
}

.task-urgent-right span {
    width: 211px;
    height: 28px;
}

.task-todo {
    width: 128px;
    height: 111px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #D2E2FF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.task-todo:hover {
    transform: scale(1.1);
}

.task-todo-inner {
    width: 128px;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.text {
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.text-w {
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.text-color-blue {
    color: #4589FF;
}

.tasks-board {
    display: flex;
    height: 219px;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.tasks-board-left, .tasks-board-right {
    display: flex;
    gap: 32px;
}

.task-container {
    width: 124px;
    height: 139px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.task-container:hover {
    transform: scale(1.1);
}

.task-container-inner {
    width: 124px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-container-inner span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-76 {
    height: 76px;
    width: 76px;
}

.urgend-border {
    border: 4px solid white;
    border-radius: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.center-greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    gap: 22px;
}

.w-124 {
    width: 124px;
}



@media(max-width: 1400px) {
    .summery-container {
        width: unset;
    }

    .greetings {
        display: none;
    }

    .greetings-mobile {
        z-index: 5;
        background-color: white;
        height: 100vh;
        width: 100vw;
        position: absolute;
    }

    .mobile-greeting-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        padding: 455px 73px 415px 73px;
    }

    .greetings-left-mobile {
        font-size: 33px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .greetings-right-mobile {
        font-size: 47px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        color: #005DFF;
    }

    .task-urgent-todo {
        height: 100%;
        width: unset;
    }

    .task-urgent {
        flex-direction: column;
        height: 414px;
        width: unset;
    }

    .task-urgent-container {
        display: flex;
        width: 396px;
        height: 150px;
        padding: 28px 48px;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .task-urgent-left {
        width: 116px;
        height: 98px;
    }

    .task-urgent-left-up {
        width: 99px;
        height: 76px;
        gap: 7px;
    }

    .task-urgent-left-up img {
        box-sizing: border-box;
    }

    .text-small {
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .task-urgent-left-down {
        width: 116px;
        height: 23px;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .todo-task {
        height: unset;
        width: 23px;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    .task-urgent-right {
        width: 191px;
        height: 49px;
        align-items: flex-start;
        gap: 2px;
    }

    .task-urgent-right h2 {
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        width: 191px;
        height: 28px;
    }

    .task-urgent-right span {
        width: 147px;
        height: 19px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .placeholder {
        height: 118px;
    }

    .task-todo {
        width: unset;
        flex-direction: unset;
        justify-content: unset;
        gap: 16px;
        width: 316px;
        height: 76px;
        padding: 15px 40px;
    }

    .task-todo-inner {
        gap: 20px;
    }

    .text {
        font-size: 19px;
    }

    .tasks-board {
        flex-direction: column;
        height: 470px;
    }

    .task-container {
        box-sizing: border-box;
        width: 186px;
        height: 152px;
        padding: 15px 40px;
        gap: 7px;
    }

    .task-container-inner {
        box-sizing: border-box;
        width: 119px;
        height: 76px;
        gap: 20px;
    }
}


@media(max-width: 428px) {
    .mobile {
        transform: scale(0.7);
    }

    .summery-container {
        padding-top: 64px;
        height: unset;
    }

    .task-urgent {
        height: unset;
    }

    .tasks-board {
        height: unset;
    }
}