.summery-container{
    height: 912px;
    width: 591px;
    position: absolute;
    top: 265px;
    left: 380px;
    gap: 72px;
}

.greetings{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

#user-name{
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    color: #4589FF;
}