<aside>
    <div class="aside__link-container">
        <a id="summary-link" class="links" href="summary.html">
            <div class="aside__link">
                <img src="img/summary.png" alt="Summary">
                Summary
            </div>
        </a>
        <a id="add_task-link" class="links" href="addTask.html">
            <div class="aside__link">
                <img src="img/edit_square.png" alt="Add Task">
                Add Task
            </div>
        </a>
        <a id="board-link" class="links" href="board.html">
            <div class="aside__link">
                <img src="img/board_sidebar.png" alt="Board">
                Board
            </div>
        </a>
        <a id="contact-link" class="links" href="contact.html">
            <div class="aside__link">
                <img src="img/contacts.png" alt="Contacts">
                Contacts
            </div>
        </a>
    </div>
    <div class="aside__policy-container">
        <a href="privacyPolicy.html" target="_blank">Privacy Policy</a>
        <a href="legalNotice.html" target="_blank">Legal notice</a>
    </div>
</aside>