<aside>
    <div class="aside__link-container">
        <a class="links" href="summary.html">
            <div class="aside__link">
                <img src="img/summary.png" alt="Summary">
                Summary
            </div>
        </a>
        <a class="links" href="add_task.html">
            <div class="aside__link">
                <img src="img/edit_square.png" alt="Add Task">
                Add Task
            </div>
        </a>
        <a class="links" href="board.html">
            <div class="aside__link">
                <img src="img/board-sidebar.png" alt="Board">
                Board
            </div>
        </a>
        <a class="links" href="contact.html">
            <div class="aside__link">
                <img src="img/contacts.png" alt="Contacts">
                Contacts
            </div>
        </a>
    </div>
    <div class="aside__policy-container"> <!-- frame 21 -->
        <a class="policy-button" href="privacy_policy.html" target="_blank">Privacy Policy</a>
        <a class="policy-button" href="legal_notice.html" target="_blank">Legal notice</a>
    </div>
</aside>