<aside>
    <div class="aside">
        <div class="aside__link-container">
            <a class="links" href="summary.html">
                <div class="aside__link">
                    <img src="img/summary.png" alt="Link 1">
                    Summary
                </div>
            </a>
            <a class="links" href="board.html">
                <div class="aside__link">
                    <img src="img/board-sidebar.png" alt="Link 2">
                    Board
                </div>
            </a>
            <a class="links" href="add_task.html">
                <div class="aside__link">
                    <img src="img/edit_square.png" alt="Link 3">
                    Add Task
                </div>
            </a>
            <a class="links" href="contact.html">
                <div class="aside__link">
                    <img src="img/contacts.png" alt="Link 4">
                    Contacts
                </div>
            </a>
        </div>
        <div class="aside__policy-container">
            <div class="button"><a href="#">Privacy Policy</a></div>
            <div class="button"><a href="#">Legal notice</a></div>
        </div>
    </div>
</aside>