<header>
    <div class="header-container">
        <img class="header-container-logo" src="./img/join_logo.png">
        <div class="header-container-right">
            <span id="header-container-right-text">Kanban Project Management Tool</span>
            <a href="help.html">
                <img class="header-container-help" src="./img/help.svg" title="Need Help?">
            </a>
            <img onclick="toggleMenu(event)" id="user-profile" class="header-container-right-user-profile" src="./img/user-profile.png">
        </div>
    </div>
</header>

<div class="logout-button" id="logoutBtn">
    <a href="legal_notice.html" class="nav-item nav-link" target="_blank">Legal Notice</a>
    <a href="privacy_policy.html" class="nav-item nav-link" target="_blank">Privacy Policy</a>
    <a href="#" class="nav-item nav-link">Log out</a>
</div>