<header>
    <div class="header-container">
        <img class="header-container-logo" src="./img/join_logo.png">
        <div class="header-container-right">
            <span id="header-container-right-text">Kanban Project Management Tool</span>
            <a class="help" href="help.html">
                <img class="header-container-help" src="./img/help.svg" title="Need Help?">
            </a>
            <div onclick="toggleMenu(event)" id="user-profile" class="header-container-right-user-profile header-container-right-user">
                <div class="user-container-header">
                    <div class="user-initials">
                        <span id="initials" class="initials"></span>
                        <div class="elipse"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logout-button" id="logoutBtn">
        <a href="help.html" class="nav-item nav-link">Help</a>
        <a href="legalNotice.html" class="nav-item nav-link" onclick="openInNewTab('legalNotice.html'); return false;">Legal Notice</a>
<a href="privacyPolicy.html" class="nav-item nav-link" onclick="openInNewTab('privacyPolicy.html'); return false;">Privacy Policy</a>
        <a onclick="logOut()" href="#" class="nav-item nav-link">Log out</a>
    </div>
</header>